.step {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.timeline {
	height: 100%;
	position: relative;
	display: table;
	border-left: 1px dashed #333;
	width: 1px;
	transform: translate(35px);
}

.step__left-side, .step__right-side {
	flex: 6;
}

.step__left-side {
	text-align: right;
}

.step__right-side {
	text-align: left;
}

.step__center {
	z-index: 1;
}

.step__circle {
	flex: 1;
	border: 5px solid #333;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;

	& span {
		font-size: 2.5rem;
	}
}
