.social-icon--inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	fill: #FFFFFF;
	transition: fill .5s;
}

.social-icon__facebook:hover {
	fill: #3B5998;
}
.social-icon__twitter:hover {
	fill: #0084b4;
}
.social-icon__linkedin:hover {
	fill: #0077B5;
}