@import '~materialize-css/sass/materialize.scss';

@font-face {
  font-family: 'Nunito';
  src:  url('./../fonts/Nunito-Regular.ttf')
}

html, body {
  height: 100%;
}

body {
  background: #fafafa;
}