@import '~materialize-css/sass/materialize.scss';

@font-face {
  font-family: 'Nunito';
  src:  url('./../fonts/Nunito-Regular.ttf')
}
@font-face {
  font-family: 'Noto';
  src:  url('./../fonts/NotoSans-Regular.ttf')
}

html, body {
  height: 100%;
  font-family: Noto;
}

body {
  background: #fafafa;
}

a {
  color: #009688; 
}

#sidenav-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}